extends layout

block content
  main
    h1= "Join us in Beautiful Brown's Point"
    p 
      | As longtime residents of this wonderful community, our #1 goal has been to create an
      | inviting place to catch up with our friends and neighbors while enjoying fresh, wholesome, in
      | house cooking. We are proud to serve fresh local quality ingredients, such as farm fresh eggs
      | and produce. All of our food is prepared in the healthiest way possible; we only use olive oil
      | for our cooking requirements and soy oil in our deep-fryers.
