extends layout

block content
  main 
    section.page-content 
      h1= "Menu Page"
      p Beef noodles modem sign human hacker katana boy advert industrial grade meta-man shrine tiger-team market realism carbon rain. Assault kanji futurity savant warehouse gang artisanal alcohol augmented reality human wonton soup singularity cardboard realism sub-orbital vehicle courier. Systemic footage uplink market man shanty town post-tiger-team motion sensory fluidity urban geodesic math-savant industrial grade. Fluidity hotdog construct towards math-narrative crypto-car hacker artisanal. Rifle paranoid 8-bit tube vinyl franchise singularity otaku vehicle Kowloon stimulate. Dome neural lights narrative modem dolphin futurity-ware pistol vinyl boy cartel tiger-team rebar singularity. Disposable systema knife sprawl render-farm sign into sensory soul-delay. Shrine San Francisco bridge papier-mache-space euro-pop tube human BASE jump man engine fluidity pistol. Grenade media decay Kowloon artisanal sentient rain. 
      section#menu
        div#menu-control-wrapper
          a.menu-control-button.btn.btn-primary(href='/menu/breakfast#menu') Breakfast
          a.menu-control-button.btn.btn-primary(href='/menu/lunch#menu') Lunch
          a.menu-control-button.btn.btn-primary(href='/menu/dinner#menu') Dinner 
        div#menu-wrapper
          - var count = 0  
            each category in categories
              - var category = category
              - count++
              button.btn.btn-primary.menu-category-button(data-toggle='collapse' data-target='.menu-collapse-wrapper-' + count)= category
              div(class='collapse menu-collapse-wrapper menu-collapse-wrapper-' + count data-parent='#menu-wrapper')
                each item in menu
                  if item.MealCategory == category
                    button(class='card-header item-button')= item.Name

                
                


          

  
  script.
    
  link(rel='stylesheet' href='/stylesheets/menu.css' type='text/css')

