body {
	background-color: white;
	height: 100%;
	width: 100%;
}

a {
	color: #00B7FF;
}

header {
	background: rgb(37,36,42);
	background: -moz-linear-gradient(180deg, rgba(37,36,42,1) 0%, rgba(10,8,38,1) 45%, rgba(12,18,64,0.8729691705783876) 100%);
	background: -webkit-linear-gradient(180deg, rgba(37,36,42,1) 0%, rgba(10,8,38,1) 45%, rgba(12,18,64,0.8729691705783876) 100%);
	background: linear-gradient(180deg, rgba(37,36,42,1) 0%, rgba(10,8,38,1) 45%, rgba(12,18,64,0.8729691705783876) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#25242a",endColorstr="#0c1240",GradientType=1);	display: inline-block;
	height: 20vh;
	width: 100vw;
	padding: 1%;
}
nav {
	display: inline-block;
	float: right;
}

main {
	padding: 8%;
}
footer {
	height: 20%;
	margin: auto;
	padding: auto;
	text-align: center;
}

#logo {
	height: auto;
	width: 45vw;
}

.nav-button {
	background-color: #141e2d;
	border-color: #141e2d;
	border-radius: 2px;
	margin:2px;
}

.nav-button:hover {
	background-color: #3b557c;
	border: 1px solid white;

}