body {
	background-color: white;
	height: 100%;
	width: 100%;
}

h1 {
	margin-bottom: 3%;
}

nav {
	display: flex;
	margin-top: auto;
}

main {
	padding: 2%;
}

footer {
	height: 20%;
	margin: auto;
	padding: auto;
	text-align: center;
}

#header-wrapper {
	background: rgb(40,45,53);
	background: -moz-linear-gradient(180deg, rgba(40,45,53,1) 0%, rgba(9,8,31,1) 92%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(40,45,53,1) 0%, rgba(9,8,31,1) 92%, rgba(0,0,0,1) 100%);
	background: linear-gradient(180deg, rgba(40,45,53,1) 0%, rgba(9,8,31,1) 92%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#282d35",endColorstr="#000000",GradientType=1);
	height: 7rem;
	position: fixed;
	width: 100%;
	display: flex;
	transition: 0.5s;
	z-index: 2;
}

#nav-wrapper {
    width: 40vw;
    display: flex;
	justify-content: right;
	margin-right: 4%;
	padding-bottom: 0.5%;
	max-height: auto;
}

.logo {
	flex: 1;
	margin-bottom: 0.5%;
	margin-top: auto;
	margin-left: 0.5%;
	align-self: baseline;
	max-width: 60vw;
	transition: 0.5s;
}

.btn-primary {
	background-color: #141e2d;
	border-color: #141e2d;
	border-radius: 2px;
	margin: 2px;
	width: auto;
}

.btn-primary:hover {
	background-color: #3b557c;
	border: 1px solid white;
}

#mobile-menu {
	display: none;
}

.page-content {
	margin-top: 3rem;
	
}

#footer-wrapper {
	background: rgb(40,45,53);
	background: -moz-linear-gradient(0deg, rgba(40,45,53,1) 0%, rgba(9,8,31,1) 92%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(0deg, rgba(40,45,53,1) 0%, rgba(9,8,31,1) 92%, rgba(0,0,0,1) 100%);
	background: linear-gradient(0deg, rgba(40,45,53,1) 0%, rgba(9,8,31,1) 92%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#282d35",endColorstr="#000000",GradientType=1);
	border-top: 1px solid grey;
	display: flex;
	min-height: 8rem;
}

#footer-text {
	z-index: 2;
	flex: 1;
	color: #b7b9bc;
	margin: auto 0;
}

#hours-table {
	margin-bottom: 5%;
	width: 35%;
}

.day {
	display: inline;
}

.hours {
	display: inline;
	float: right;
}

/* Responsive styles */

/* Triggered if going from tablet-size up */

@media only screen and (min-width: 811px) {
	.mobile-nav-link {
		display: none;
	}
}

@media only screen and (max-width: 810px) {

	.page-content {
		margin-top: 6rem;
	}

	#header-wrapper {
		display: none;
	}

	#mobile-nav {
		background: rgb(40,45,53);
		background: -moz-linear-gradient(180deg, rgba(40,45,53,1) 0%, rgba(9,8,31,1) 92%, rgba(0,0,0,1) 100%);
		background: -webkit-linear-gradient(180deg, rgba(40,45,53,1) 0%, rgba(9,8,31,1) 92%, rgba(0,0,0,1) 100%);
		background: linear-gradient(180deg, rgba(40,45,53,1) 0%, rgba(9,8,31,1) 92%, rgba(0,0,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#282d35",endColorstr="#000000",GradientType=1);	
		padding-bottom: 0.5rem;
	}

	.navbar-toggler {
		margin-right: 0.3rem;
	}

	.navbar-toggler:focus {
		outline-color: white;
	}

	.mobile-nav-link {
		color: grey;
		display: block;
		text-align: left;
		margin: 0.5rem;

	}

	.mobile-nav-link:focus {
		color: white;
		-webkit-box-shadow: 0px 0px 3px 3px rgba(232,232,232,0.64); 
		box-shadow: 0px 0px 3px 3px rgba(232,232,232,0.64);
		text-decoration: none;
	}

	.mobile-nav-link:hover {
		color: white;
	}

	h1 {
		font-size: 1.7rem;
		margin-top: 4rem;
	}

	

	.nav-button {
		display: none;
	}

	#logo {
		flex: 3;
	}

	#nav-wrapper {
		display: inline-block;
	}

	#mobile-menu {
		display: inline-block;
		float: right;
	}

	#hours-table {
		width: 100%
	}
}

@media only screen and (min-width: 381px, max-width: 650px) {

	
}

@media only screen and (max-width: 380px) {

	h1 {
		margin-top: 3.5rem;
	}

	.page-content {
		margin-top: 4rem;
	}

	#logo {
		margin: auto 0 auto 2px;
	}
}