body {
	background-color: white;
	height: 100%;
	width: 100%;
}

a {
	color: #00B7FF;
}

header {
	background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
	display: inline-block;
	height: 20vh;
	width: 100vw;
	padding:;
}
nav {
	display: inline-block;
	float: right;
}

main {
	padding: 8%;
}
footer {
	height: 20%;
	margin: auto;
	padding: auto;
	text-align: center;
}

#title-bar {
	background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
	display: inline-block;
	height: 20vh;
	width: 100vw;
	padding:;
}

.nav-button {
	background-color: #141e2d;
	border-color: #141e2d;
	border-radius: 2px;
	margin:2px;
}

.nav-button:hover {
	background-color: #3b557c;
	border-color: #141e2d;
}